.menu .item{
  color: black !important;
  font-size: 18px;
}

#landing{
  font-family: 'Original Surfer', cursive;
  font-size: 50px;
  background-image: url("../images/surfer-g3f2616b85_1920.jpg");
  background-size: cover;
  background-position: 30% 50%;

  height: 500px;
}

#intro{
  font-size: 18px;
}

#root {
  font-family: 'Original Surfer', cursive !important;
}
