.menu .item{
  color: black !important;
  font-size: 18px;
}

#landing-font{
  font-size: 50px;
  margin-top: 100px;
}

#intro{
  font-size: 18px;
}

#root {
  font-family: 'Original Surfer', cursive !important;
}